# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

/TicTacGerman/TicTacGerman/TicTacGerman.pro.user
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/Makefile.Debug
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/Makefile.Release
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/ui_MainWindow.h
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/vc100.pdb
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/release
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/Makefile

/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/moc_MainWindow.cpp
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/moc_MainWindow.obj
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/moc_MainWindowFormFuncs.cpp
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/moc_MainWindowFormFuncs.obj
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/main.obj
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/MainWindow.obj
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/MainWindowFormFuncs.obj

/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/TicTacGerman.exe_manifest.res
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/TicTacGerman.ilk
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/TicTacGerman.pdb
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/TicTacToe.obj
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/TictTicToe.obj
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/moc_TicTacToe.cpp
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/moc_TicTacToe.obj
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/moc_TictTicToe.cpp
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/moc_TictTicToe.obj
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/TicTacGerman.exe
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/TicTacGerman.exe.embed.manifest
/TicTacGerman/TicTacGerman-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/debug/TicTacGerman.exe_manifest.rc
